@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
.editor-content {
    color: black;
    font-family: 'Nunito Sans', sans-serif;
}

.editor-content img {
    margin: 15px;
    float: left;
    max-width: 20rem;
    height: auto;
}

.editor-content p {
    padding-bottom: 0.75rem;
}

.editor-content table {
    table-layout: fixed;
    min-width: 20rem;
    border-collapse: collapse;
    border: 0.1rem solid rgba(61, 61, 61, 0.13);
}

.editor-content table, th, td {
    border: 0.1rem solid rgba(61, 61, 61, 0.13);
}

.editor-content td {
    padding: 0.5rem 1rem;
}
.editor-content th {
    padding: 0.5rem 1rem;
    font-weight: 500;
}